{% extends "layout.html" %}

{% block content %}
    <form class="col-md-4 container mt-5" method="post" action="{% url "doctor_reset_password" %}">
        {% csrf_token %}
            <h1 class="mb-5 mt-5 container text-center">Reset Password</h1>
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" name="new_password" id="new_password" class="form-control" required/>
            <label class="form-label" for="new_password">Password</label>
            </div>
        
            <!-- Submit button -->
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>
    </form>
{% endblock content %}